.main {
    border: 1px solid black;
    padding: 3px
}

.sidetittel {
    font-size: large;
    margin: 3px
}

.nav {
    margin: 3px;
}

.nav li {
    margin: 5px;
    text-decoration: none;
    display: inline;
}

.innhold {
    display: flex;
    padding: 3px;
}

@media (max-width: 800px) {
    .innhold {
        flex-direction: column;
    }
}

.artikkel {
    border: 1px solid black;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin: 5px;
    text-align: center;
}

.main,.sidetittel,.innhold,.footer {
    border: 1px solid black;
}
