.main {
    border: 1px solid black;
    padding: 3px
}

.sidetittel {
    font-size: large;
    margin: 3px
}

.nav {
    margin: 3px; 
}

.logg {
    justify-content: flex-end;
    display: flex;
}

.nav li{
    margin: 5px;
    text-decoration: none;
    display: inline;
}

.innhold {
    display: flex;
    padding: 3px;
    margin: 3px;
}

@media (max-width: 800px) {
    .innhold {
        flex-direction: column;
        max-width: fit-content;
    }
}

.artikkel {
    border: 1px solid rgb(255, 255, 255);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin: 3px;
    text-align: center;
}

.main,.sidetittel,.nav,.innhold,.footer {
    border: 1px solid rgb(0, 0, 0);
}
